/* ----------------------------------------------------------------------------------------------------------
 
 Output device: screen, projection
 
 Author:     Nuvio (www.nuvio.cz)
 Update:     2008-07-29, 18:30 GMT+1
 Version:    2.2.6 (2008-07-13, 14:28 GMT+1)
 
 Structure:
 display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;
 
 Content:
 
 1) HTML tags
 2) HTML styles
 3) Layout
 4-1) Page: Homepage
 5) Others
 
 ---------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------
 1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {
	background: url("design/bg.gif") 0 0 repeat-x;
	font: 0.8em / 1.5 "Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
}

h2, h3 {
	font-family:Candara,georgia,serif;
	margin:15px 0;
}

h1, h4, h5, h6, p, address, blockquote, table, dl, fieldset {
    margin: 5px 0;
}


img.photoleft {
    float: left;
    display: inline;
    padding: 10px 10px 10px 0px;
}

span.phototext {
    float: left;
    text-align: justify;
    text-justify: distribute-all-lines;
}

/* ----------------------------------------------------------------------------------------------------------
 2) HTML styles
 ---------------------------------------------------------------------------------------------------------- */
ul.ul-01 {
    margin: 15px 0;
    list-style: none;
}

ul.ul-01 li {
    padding: 2px 0 2px 25px;
    background: url("design/ul-01.gif") 0 5% no-repeat;
    font-size: 100%;
}

ul.ul-01 li ul li {
    padding: 2px 0 2px 5px;
    font-size: 90%;
    list-style: none;
    background: none;
}

ul.ul-list {
    margin: 15px 0;
    list-style: none;
}

ul.ul-list li {
    padding: 1px 0;
}

ul.ul-list span.date {
    padding-right: 10px;
}

/* ----------------------------------------------------------------------------------------------------------
 3) Layout
 ---------------------------------------------------------------------------------------------------------- */
#main {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#header {
    position: relative;
    height: 50px;
    padding: 20px 20px 35px 20px;
	float:left;
	width:200px;
}

#logo {
    margin: 0;
	width:100px;
}

#nav {
    position: absolute;
    top: 80px;
    right: 20px;
    margin: 0;
}

#nav span {
    margin: 0 8px;
}

#nav #nav-active {
    font-weight: bold;
    text-decoration: none;
}

#tray {
    position: relative;
    width: 720px;
	margin-top:48px;
	float:left;
    height: 45px;
    background: url("design/tray.gif") 0 0 no-repeat;
    overflow: hidden;
    font: bold 90% / 1 "tahoma", sans-serif;
}

#tray ul {
    margin: 0 20px;
    list-style: none;
}

#tray li {
    display: inline;
}

#tray li a {
    display: block;
    float: left;
    padding: 17px 20px 17px 18px;
    background: url("design/tray-separator.gif") 100% 0 no-repeat;
    text-decoration: none;
}

#tray li a:hover {
    background: url("design/tray-hover.gif");
}

#tray li a.active {
    background: url("design/tray-active.gif");
}

#search {
    position: absolute;
    top: 8px;
    right: 20px;
}

#search div {
    position: relative;
    width: 185px;
}

#search #search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 30px;
    background: url("design/search-input.gif") 0 0 no-repeat;
    overflow: hidden;
}

#search #search-input input {
    width: 136px;
    margin: 8px;
    border: 0;
    font: 100% / 1 "arial", sans-serif;
}

#search #search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
}

#footer {
    clear: both;
    padding: 20px 20px 40px 20px;
    font-size: 85%;
}

#footer p {
    margin: 0;
}

/* ----------------------------------------------------------------------------------------------------------
 4-1) Page: Homepage
 ---------------------------------------------------------------------------------------------------------- */
#col-top {
    width: 960px;
    height: 5px;
    margin-top: 15px;
    background: url("design/col-top.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#col-bottom {
    width: 960px;
    height: 5px;
    margin-bottom: 15px;
    background: url("design/col-bottom.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#col {
    position: relative;
    padding: 5px 30px 5px 10px;
    background: url("design/col.gif") 0 0 repeat-y;
}

#ribbon {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100px;
    height: 100px;
    /*background: url("../design/ribbon.gif") 0 0 no-repeat;*/
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    z-index: 10;
}

#col-browser {
    position: relative;
    top: 0px;
    float: left;
    width: 440px;
    height: 215px;
    /* background: url("../design/browser.gif") 0 0 no-repeat;*/
}

#col-browser img {
    position: absolute;
    top: 0px;
    left: 10px;
}

#col-text {
    float: left;
    width: 470px;
    line-height: 1.7;
}

#slogan {
    position: relative;
    width: 289px;
    height: 33px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 180%;
}

#slogan span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; /*background:url("../tmp/slogan.gif") 0 0 no-repeat;*/
}

#btns {
    margin-top: 25px;
    margin-bottom: 0;
}

#cols2-top {
    width: 960px;
    height: 5px;
    margin-top: 15px;
    background: url("design/cols2-top.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#cols2-bottom {
    width: 960px;
    height: 5px;
    margin-bottom: 15px;
    background: url("design/cols2-bottom.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#cols2 {
    background: url("design/cols2.gif") 0 0 repeat-y;
}

#cols2 h1 {
    font-size: 100%;
    display: block;
    border-bottom: solid 1px #48B0E5;
    padding: 5px;
}

#cols2 h2 {
    font-size: 100%;
    display: block;
    padding: 5px;
}

#cols2 #col-left {
    float: left;
    width: 700px;
    padding: 5px 20px 20px 20px;
}

#cols2 #col-right {
    float: right;
    width: 208px;
    margin-right: 1px;
    padding: 5px 5px 20px 5px;
}

#cols2 #col-left h4, #cols2 #col-right h4 {
    margin: 0;
    font-size: 100%;
}

#cols2 #col-left .title {
    background: url("design/dot.gif") 0 50% repeat-x;
}

#cols2 #col-left .title h4 {
    display: inline;
    padding-right: 10px;
}

#cols2 #col-left .title span {
    padding-left: 0px;
}

#cols2 .box {
    margin-top: 0px;
}

.views-field-created .field-content {
    color: #2694E8;
    font-weight: bold;
    width: 80px;
    float: left;
    display: block;
    text-align: center;
}

.views-field-image-attach-images .field-content {
    display: block;
    padding-top: 20px;
    float: left;
    width: 65px;
}

.views-field-body .field-content {
    padding-left: 10px;
    display: block;
    float: left;
    font-size: 85%;
    width: 180px;
    line-height: 1.8;
}

.views-field-title .field-content a {
    display: block;
    /*background:#E9FAFF;*/
    width: 165px;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #48B0E5;;
}

#cols2 #col-right h4 {
    background: url("design/dot-02.gif") 0 50% repeat-x;
}

#cols2 #col-right h4 span {
    padding-right: 10px;
}

#cols2 .col-right-img {
    float: left;
    width: 65px;
}

#cols2 .col-right-text {
    float: right;
    width: 190px;
}

#cols2 .col-right-text p {
    margin: 0;
}

#cols3-top {
    width: 960px;
    height: 5px;
    margin-top: 15px;
    background: url("design/cols3-top.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#cols3-bottom {
    width: 960px;
    height: 5px;
    margin-bottom: 15px;
    background: url("design/cols3-bottom.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#cols3 {
    background: url("design/cols3.gif") 0 0 repeat-y;
}

.col {
    float: left;
    width: 308px;
    padding: 0 1px;
    margin-right: 15px;
}

.col.last {
    margin-right: 0;
}

.col h3 {
    margin: 0;
    padding: 7px 15px 12px 50px;
    background: url("design/cols3-title.gif") 20px 40% no-repeat;
    font-size: 120%;
}

.col-text {
    padding: 20px;
    border-top: 1px solid #DFDFDF;
}

.col-text p {
    margin: 10px;
}

.col-text ul {
    margin-bottom: 0;
}

.col-more {
    padding: 10px 10px 1px 0;
    text-align: right;
}

/* ----------------------------------------------------------------------------------------------------------
 5) Others
 ---------------------------------------------------------------------------------------------------------- */
.ico-comment {
    padding-left: 18px;
    background: url("design/ico-comment.gif") 0 50% no-repeat;
}

.ico-rss {
    padding-left: 18px;
    background: url("design/ico-rss.gif") 0 50% no-repeat;
}

.smaller {
    font-size: 85%;
}

/* ----------------------------------------------------------------------------------------------------------
 5) Javascript slideshow
 ---------------------------------------------------------------------------------------------------------- */
ul.slideshow {
    list-style: none;
    width: 450px;
    height: 210px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

ul.slideshow li {
    position: absolute;
    left: 0;
    right: 0;
}

ul.slideshow li.show {
    z-index: 500;
}

ul img {
    border: solid thick white;
}

#slideshow-caption {
    width: 400px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #fff;
    background: #000;
    z-index: 500;
}

#slideshow-caption .slideshow-caption-container {
    padding: 5px 10px;
    z-index: 1000;
}

#slideshow-caption h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#slideshow-caption p {
    margin: 5px 0 0 0;
    padding: 0;
}

/*
 * TAB BAR STUFF
 */
.tabContainer {
    /* The UL */
    float: right;
    padding-right: 3px;
}

#contentHolder {
    background-color: #EEEEEE;
    border: 2px solid #FFFFFF;
    height: 300px;
    margin: 1px;
    color: #444444;
    padding: 15px;
}

#tabContent {
    background-color: #333;
    border: 1px solid #444;
    margin-top: -15px;
    width: 100%;
}

#tabContent, .tabContainer li a, #contentHolder {
    -webkit-box-shadow: 0 0 2px black;
    -moz-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.tabContainer li {
    /* This will arrange the LI-s next to each other */
    display: inline;
}

.tabContainer li a, .tabContainer li a:visited {
    /* Styling the hyperlinks of the tabs as colorful buttons */
    float: left;
    font-size: 18px;
    /* display:block allows for additinal CSS rules to take effect, such as paddings: */
    display: block;
    padding: 7px 16px 1px;
    margin: 4px 5px;
    height: 29px;
    /* Giving positioning */
    position: relative;
    /* CSS3 text-shadow */
    text-shadow: 1px 1px 1px #CCCCCC;
}

#overLine {
    position: absolute;
    height: 1px;
    background-color: white;
    width: 90px;
    float: left;
    left: 1px;
    top: -5px;
    overflow: hidden;
}

#contentabout {
    margin: 0 auto;
    position: relative;
    width: 600px;
}

ul .left {
    /* The left span in the hyperlink */
    height: 37px;
    left: 0;
    position: absolute;
    top: 0;
    width: 10px;
}

ul .right {
    /* The right span in the hyperlink */
    height: 37px;
    right: 0;
    position: absolute;
    top: 0;
    width: 10px;
}

img.newsthumb {
    float: left;
    padding: 0px 5px 0px 0px;
}

.news {
    margin: 0;
}

.news dt {
    display: block;
    float: left;
    width: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.news dt span {
    font-size: 140%;
}

.news dd {
    display: block;
    float: left;
    width: 140px;
    font-size: 85%;
    line-height: 1.6;
}

.news dt {
    color: #f26328;
}

.news dd span {
    color: #5f5f5f;
}

.box-01-top, .box-01-top-b {
    background-color: #ddddd4;
    color: #000;
}

.box-01-top-b .f-right {
    color: #808065;
}

.box-01 .bg {
    margin-left: -10px;
    border-top: 1px solid #ddddd4;
    border-bottom: 1px solid #ddddd4;
    background: #f1f1ee;
}

.box-01-top {
    width: 200px;
    height: 5px;
    margin-top: 5px;
    background: url("design/box-01-top.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
}

.box-01-top-b {
    padding: 5px 0px 15px 0px;
    background: url("design/box-01-top-b.gif") 0 100% no-repeat;
}

.box-01-top-b .f-left {
    text-transform: uppercase;
}

.box-01-top-b .f-right {
    padding-top: 2px;
    font-size: 85%;
}

.box-01-bottom {
    width: 210px;
    height: 11px;
    background: url("design/box-01-bottom.gif") 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
}

.box-01 {
    padding: 0px;
    background: url("design/box-01.gif") 0 0 repeat-y;
}

.box-01 .bg {
    margin: 10px 0;
    padding: 10px 0;
}
